<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>The Imgame 2016</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.2.js"></script>
    <script src="../static/js/jcanvas.min.js"></script>
    <!--script src="../static/js/pixi.js"></script>
    <script src="../static/js/game1_addRenderer.js"></script>
    <script src="../static/js/game1_pixi.js"></script-->    
    <script src="../static/js/game1_ajax.js"></script>
</head>
 
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/showSignIn">Sign In</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">The Imgame 2016</h3>
        </div>
        <div class="container">
            <button id="btnNext" class="btn btn-primary pull-right" style="margin-bottom: 20px;">Next</button>
        </div>
        <div id="canvas-div" class="container">
            <!--canvas id="scoreCanvas" width="700" height="150"></canvas-->
            <canvas id="imgCanvas" width="700" height="700"></canvas>
        </div>
        <footer class="footer">
                <p>&copy; MTU 2016</p>
        </footer> 
    </div>
</body>
</html>
